@import url('https://fonts.googleapis.com/css2?family=Inter&family=Saira+Condensed:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: inter, arial, sans-serif;
}

header {
    color: #fafafa;
}

body {
    color: #fafafa;
    background-color: #040d21;
}

div {
    color: #fafafa;
    background: transparent;
}

/*logo*/

.logo {
    display: inline-block;
}

#github-banner {
    font-size: 100%;
    width: 4.5rem;
}

#github-banner-icon {
    font-size: 4rem;
    position: absolute;
    top: 2px;
    left: 10px;
}

#fa-face-grin-stars-banner {
    font-size: 1.2rem;
    position: relative;
    top: 8.5px;
    left: 31.5px;
}

#fa-square-check-banner {
    font-size: 1.4rem;
    position: relative;
    top: 27.5px;
    left: 37px;
    transform: rotate(25deg);
    text-shadow: -2px 0 #040d21, 0 2px #040d21, 2px 0 #040d21, 0 -2px #040d21;
    visibility: hidden;
    animation-name: checkbox-anim;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.fa-square-check {
    color: #2ea54f;
}

.title {
    padding: 5px;
    font-family: "Saira Condensed", arial, sans-serif;
    font-weight: 700;
    font-size: 4rem;
    text-transform: uppercase;
    z-index: 5;
    line-height: 75px;
}

/*body BG*/

.bg-burst1 {
    z-index: -1;
    width: 50vw;
    height: 50vw;
    background: rgb(5,41,99);
    background: radial-gradient(circle, rgba(5,41,99,1) 0%, rgba(0,0,0,0) 75%);
    position: fixed;
    right: -32.5%;
    top: -30%;
}

.bg-burst2 {
    z-index: -1;
    width: 50vw;
    height: 50vw;
    background: rgb(5,41,99);
    background: radial-gradient(circle, rgba(5,41,99,1) 0%, rgba(0,0,0,0) 75%);
    position: fixed;
    left: -32.5%;
    top: 10%;
}

#bg-burst3 {
    z-index: -1;
    width: 50vw;
    height: 50vw;
    background: rgb(73,31,74);
    background: radial-gradient(circle, rgba(73,31,74,1) 0%, rgba(148,187,233,0) 75%);
    position: fixed;
    right: -25%;
    bottom: -50%;
}

/* animations */
@keyframes checkbox-anim {
    from {visibility: hidden;
        transform: rotate(360deg);
    top: -200px;}

    to {visibility: visible;
        top: 25.5px;}
}